<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body class="centered-body">
    <div class="row justify-content-center mt-5 container-fluid">
        <div class="col-lg-4">
            <form class="m-3 border border-info p-3 rounded-4" action="/Register" method="post" enctype="multipart/form-data">
                <div><h2 class="text-center border-bottom border-info">Register</h2></div>

                <div class="form-group mt-3">
                    <label for="InputUsername">Username</label>
                    <input type="text" class="form-control form-control-md mt-2" id="InputUsername" placeholder="Username" required name="username">
                </div>

                <div class="form-group mt-3">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control form-control-md mt-2" id="InputPassword" placeholder="Password" required name="password">
                </div>

                <div class="form-group mt-3">
                    <label for="creditcard">Credit Card</label>
                    <input type="number" class="form-control form-control-md mt-2" id="creditcard" placeholder="Credit Card" required name="credit_card">
                </div>

                <div class="form-group mt-3">
                    <label for="profile-picture">Profile Picture</label>
                    <input id="profile-picture" type="file" name="profile_picture" class="form-control form-control-sm mt-2">
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Register</button>
                </div>
                <div class="mt-2"> <a href="/Login" class="fs-6 fw-light">Already have an account ?</a></div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/close-all-alerts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>