<!DOCTYPE html>
<html>
<head>
        <title>Starting Page</title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
         <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
        <div class="text-center spacer">
            <h2>Welcome</h2>
        </div>
        <div class="d-grid gap-4 col-4">
           <a href="/Login"><button class="btn btn-primary">Login</button></a>
           <a href="/Register"><button class="btn btn-primary" type="button">Register</button></a>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>